.card-container {
  width: 90%;
  margin: auto;
  background: white;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-container:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.program-image {
  height: 100%;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.right-card {
  padding: 2rem 3rem;
}

.program-title {
  color: #ec994b;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.program-desc {
  text-align: justify;
}

.program-btn {
  color: white;
  padding: 0.5rem;
  background: #123c4a;
  border: 2px solid #123c4a;
  transition: all 300ms ease;
  border-radius: 5px;
  margin-top: 1rem;
}

.program-btn:hover {
  color: #123c4a;
  background: transparent;
}
