.home-section {
  height: 95vh;
  background-image: url(../../assets/home.jpg);
  background-size: cover;
}

.about-section {
  padding: 4rem 5rem;
  background: #e7f4f2;
}

.about-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #123c4a;
}

.about-text {
  margin-top: 1rem;
  text-align: justify;
  font-size: 0.9rem;
}

.accordion-button {
  border: 1px solid orange;
}
